@import url('https://fonts.cdnfonts.com/css/amalfi-coast');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F5D6B2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f6f4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #675236;
}
